.content {
	-fx-background-color: #000008;
	-fx-font-family: Oswald;
}

.title {
	-fx-text-fill: #48b2ee;
	-fx-font-size: 36px;
}

.number {
	-fx-text-fill: #eee;
	-fx-font-size: 28px;	
}

.buttons {
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 28px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
	-fx-cursor: hand;
}

.green {
	-fx-text-fill: #4bdb82;
}

.red {
	-fx-text-fill: #ee4139;
}